*.DS_Store
*.class
*.log
*.pyc
sbt/*.jar
.idea
.idea_modules
*.iml

# sbt specific
build/*.jar
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
performance/
